<h3 id="newsTitle">This is where responses goes</h3>
<p class="newsText" id="newsText">Select a news item from the left or a personal response from the right hand side to get starter!</p>
<button {{action 'editNews'}} class="btn btn-primary hiddenButton" id="editNewsButton">Edit News</button>
